.header {
  width: 100%;
  height: 100px;
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-family: 'SonsieOne-Regular';
    color: yellow;
  }

  .links {
    color: orange;
  }
}