.error-restart {
  color: black;
  padding: 20px;

  h1,
  h3 {
    margin-bottom: 20px;
    text-align: center;
  }

  h1 {
    font-family: 'Nunito-Bold';
  }

  .button {
    display: table;
    margin: 40px auto 0 auto;
  }
}