@font-face {
  font-family: 'SonsieOne-Regular';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/SonsieOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Light';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/Nunito-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/Nunito-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito-ExtraBoldItalic';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/Nunito-ExtraBoldItalic.ttf') format('truetype');
}
